{% extends "SSR/layout.html" %}

{% block content %}
<div class="login">
     <label><h1> LOGIN</h1></label>
     <div class="logcontainer">
          <div class="input__container" >
               <div class="shadow__input">EMAIL</div>
               <button class="input__button__shadow">
                    <i class="fa-regular fa-user"></i>
               </button>
               <input
                 type="text"
                 name="email"
                 class="input__search"
                 placeholder="Enter Email Id"
               />
          </div>
          <div class="input__container" >
               <div class="shadow__input">PASSWORD</div>
                    <button class="input__button__shadow">
                     <h3>#</h3>
                    </button>
                    <input
                         type="password"
                         name="password"
                         class="input__search"
                         placeholder="password"
                    />
          </div>
             <div class="submit-opts">
                  <a class="42login" href="#"> 
                       <b id="42logo">Continue with 42</b>
                  </a>
                  <button class="login-sub">
                    login
                    </button>

             </div>
          </div>
     </div>
</div>
{% endblock %}
